@media screen and (max-width: 768px) {

    body { max-width: 768px;}

    header{ max-width: 768px; display:flex; flex-direction: column;}                                /*Header*/
    
    header img{max-width:50% ; height: auto; margin-top: 1rem; margin-bottom: 0rem;}
    
    header p { font-size: 1.5rem; margin-bottom: 1rem; margin-top: 0rem; margin-left: 30rem;}

    ul{ padding: 0.5rem; display:flex; flex-direction: column; align-items: center; }               /*Nav*/

    li a:hover{ background-color: grey; color: white; padding : 0.5rem 10rem;}

    li a { text-decoration: none;}

    section { width: 100%; height: 100%;}                                                           /*Section*/

    article{ margin-left: 2rem; margin-right: 2rem; margin-bottom: 2rem; margin-top: 2rem;}         /*Article*/
    
    aside { display: none;}                                                                         /*Aside*/

    main{ width: 100%; height: 100%;}                                                               /*Main*/

    fieldset{ width:70%; height:100%;}                                                              /*Bordure Formulaire*/

    input.boutons{ margin-left: 13rem;}                                                             /*Marge Boutons Envoyer/Annuler*/

     }